*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
}


p{
    margin: 14px 0;
}

.red{
    color: red;
}


.body{
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.capitalize{
    text-transform: capitalize;
}

.app-container{
    width: 95%;
    max-width: 600px;
    border-radius: 10px;
    padding: 10px 20px;
    padding-top: 18px;
    /* height: 56px; */
    height: 89px;
    box-shadow: 5px 10px 18px #888888;
    overflow-y: hidden;
    transition: height 0.3s linear;
    
    background-color: white;
    border: 1px solid black;
}

.expand{
    height: 570px;
   
}

@keyframes shake{
    from{
        transform: translateY(0);

    }

    to{
        transform: translateY(5px);
    }
}



.shake{
    animation: shake 0.1s ease ;
   
}

.input-area{
    display: flex;
    align-items: center;
}

.form{
    flex-grow: 1;
    display: flex;
}

.place-name{
    font-size: 25px;
}

.form input{
    flex-grow: 1;
    margin-left: auto;
    font-size: 18px;
    margin: 0 10px;
}

.btn{
    cursor: pointer;
    padding: 16px 16px;
    border-radius: 50%;
    border: none;
    /* background-color: #888888; */
    background-image: linear-gradient(to top, #979d9c 0%, #bab6bd 100%);
}

.btn:hover{
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}


.weather-info{
    width: 90%;
    text-align: center;
    margin: 20px auto
}

.weather-img{
    width: 200px;
    height: 200px;
}

.temperature-number{
    font-size: 45px;
}

.temperature-description{
    font-size: 23px;
}

.weather-wind-humidity{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.humidity-img{
    width: 40px;
    height: 40px;
}

.wind-img{
    width: 40px;
    height: 40px;
}

.wind-speed{
    display: flex;
    align-items: center;
    gap: 20px;
}

.humidity{
    display: flex;
    align-items: center;
    gap: 20px;
}
